<!DOCTYPE html>
<html>
    <head>
        <title>CBM</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Roman Kirichik">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- CSS -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/animate.min.css">
        <link rel="stylesheet" href="/stylesheets/vertical-rhythm.min.css">
        <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
        <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/style-responsive.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    </head>
    <body class="appear-animate">

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Page Wrap -->
        <div class="page" id="top">

            <!-- Home Section -->
            <section class="home-section bg-dark-alfa-30 parallax-2" data-background="/images/full-width-images/section-bg-1.jpg" id="home">
                <div class="js-height-full">

                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">

                            <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
                                Welcome To CBM
                            </h1>

                            <div class="hs-line-6">
                                Your Technology Pathner
                            </div>

                        </div>
                    </div>
                    <!-- End Hero Content -->

                    <!-- Scroll Down -->
                    <div class="local-scroll">
                        <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
                    </div>
                    <!-- End Scroll Down -->

                </div>
            </section>
            <!-- End Home Section -->

            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="/images/logo-white.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#news">News</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li>
                                <a href="#Login" class="login-form button12">LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->
            <!-- Login Section -->

            <section id="Login" class="white-popup-block mfp-hide">
                <div class="ImgAvatar">
                    <img src="/images/logo-white.png">
                </div>
                <form method="POST">
                    <fieldset style="border:0;">
                        <ul class="login-UL">
                            <li>
                                <label for="email">Email ID</label>
                                <input id="email" name="email" type="email" placeholder="Email ID" required="">
                            </li>
                            <li>
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" placeholder="Password" required="" >
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" checked="checked" name="remember"> Remember me
                                </label>
                            </li>
                        </ul>
                        <div class="local-scroll login-button">
                            <button value="submit" type="submit" class="btn btn-mod btn-w btn-medium btn-round">Login</button>
                        </div>
                    </fieldset>
                </form>
            </section>
            <!-- End Login Section -->
            <!-- About Section -->
            <section class="page-section" id="about">
                <div class="container relative">

                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        About Studio
                    </h2>

                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">

                            <div class="col-md-4">
                                <blockquote>
                                    <p>
                                    We are a Company providing Hardware &amp; Software Solutions right from sales &amp; services of Laptops, Desktops, Servers, Networking &amp; Security Products Since 1996.
                                    </p>
                                    <footer>
                                        Ajay Oza
                                    </footer>
                                </blockquote>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                Compact Business Machines understands the complexities of a business’s infrastructure and how vital it is to the business operations. A network that is not running properly or is down can result in a loss of productivity or a loss of revenue. CBM recognizes the importance of a company’s network and responds promptly.
                            </div>

                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                Our certified professionals are the best in their field, and have extensive experience implementing dozens of computer networks for small business to large corporations. Whether you have 4 computers or 400 on a network our specialists can assist you in all aspects of hardware installation, networking, and troubleshooting.
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                            <div class="team-item">

                                <div class="team-item-image">

                                    <img src="/images/team/AjayOza.jpg" alt="" />

                                    <div class="team-item-detail">

                                        <h4 class="font-alt normal">Hello & Welcome!</h4>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                                        </p>

                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="team-item-descr font-alt">

                                    <div class="team-item-name">
                                        Ajay Oza
                                    </div>

                                    <div class="team-item-role">
                                        Director
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- End Team item -->

                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">

                                <div class="team-item-image">

                                    <img src="/images/team/JitenOza.jpg" alt="" />

                                    <div class="team-item-detail">

                                        <h4 class="font-alt normal">Nice to meet!</h4>

                                        <p>
                                            Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.
                                        </p>

                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="team-item-descr font-alt">

                                    <div class="team-item-name">
                                        Jiten Oza
                                    </div>

                                    <div class="team-item-role">
                                        Director
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- End Team item -->

                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">

                                <div class="team-item-image">

                                    <img src="/images/team/SharvilBhandari.JPG" alt="" />

                                    <div class="team-item-detail">

                                        <h4 class="font-alt normal">Whats Up!</h4>

                                        <p>
                                            Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                                        </p>

                                        <div class="team-social-links">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="team-item-descr font-alt">

                                    <div class="team-item-name">
                                        Sharvil Bhandari
                                    </div>

                                    <div class="team-item-role">
                                        Director
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- End Team item -->

                    </div>


                </div>
            </section>
            <!-- End About Section -->

            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->

            <!-- Services Section -->
            <section class="page-section" id="services">
                <div class="container relative">

                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Services
                    </h2>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                        <li class="active">
                            <a href="#service-branding" data-toggle="tab">

                                <div class="alt-tabs-icon">
                                    <!-- <span class="icon-strategy"></span> -->
                                    <span class="icon-desktop"></span>
                                </div>

                                Hardware
                            </a>
                        </li>
                        <li>
                            <a href="#service-web-design" data-toggle="tab">

                                <div class="alt-tabs-icon">
                                    <span class="icon-global"></span>
                                </div>

                                Networking
                            </a>
                        </li>
                        <li>
                            <a href="#service-graphic" data-toggle="tab">

                                <div class="alt-tabs-icon">
                                    <span class="icon-cloud"></span>
                                </div>

                                Data recovery
                            </a>
                        </li>
                        <li>
                            <a href="#service-development" data-toggle="tab">

                                <div class="alt-tabs-icon">
                                    <span class="icon-tools-2"></span>
                                </div>

                                AMC
                            </a>
                        </li>
                        <li>
                            <a href="#service-photography" data-toggle="tab">

                                <div class="alt-tabs-icon">
                                    <span class="icon-printer"></span>
                                </div>

                                Printers
                            </a>
                        </li>
                    </ul>
                    <!-- End Nav tabs -->

                    <!-- Tab panes -->
                    <div class="tab-content tpl-tabs-cont">

                        <!-- Service Item -->
                        <div class="tab-pane fade in active" id="service-branding">

                            <div class="section-text">
                                <div class="row">
                                    <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <p>
                                                Desktops specifications vary considerably and it really depends what you need it to do. Choose your desktop profile. 
                                            </p>
                                            <footer>
                                                Ajay Oza.
                                            </footer>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        Families need enough power to run a variety of applications, view &amp; edit photos and movies, store MP3s, create CDs and DVDs, play games and communicate with friends and family around the world.
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        Home entertainment PCs integrate all your media into one unit - you can watch and record TV and DVDs, surf the web, download and listen to MP3s, and share your photos! 
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Service Item -->

                        <!-- Service Item -->
                        <div class="tab-pane fade" id="service-web-design">

                            <div class="section-text">
                                <div class="row">
                                    <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <p>
                                                When it comes to your business, computer networking must be handled by trained and certified professionals, that’s why CBM offers network setup and redesign services.
                                            </p>
                                            <footer>
                                                Jiten Oza.
                                            </footer>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        We assess your network setup, network security, backup systems, servers, workstations, software, hardware and notify you if your system needs network upgrading, computer service, or any other network improvements..
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        A certified network consultant will examine the performance and integrity of your data infrastructure. All existing computer systems, networking devices, servers and peripherals will be tested for vulnerabilities.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Service Item -->

                        <!-- Service Item -->
                        <div class="tab-pane fade" id="service-graphic">

                            <div class="section-text">
                                <div class="row">
                                    <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <p>
                                                CBM is specialized in the field of Recovery and Insurance of computerised Data and Computer Hard-Disk Repair, with a proven 98% data recovery track record for more than 14 years
                                            </p>
                                            <footer>
                                                Jatin Chorera (Senior Engineer).
                                            </footer>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        With Advance in computing and mass storage, and increase in data loss,  CBM has recovered lost data from DOS, Windows, LAN and other operating systems, and also from various media Hard Disks, CDs, Zip cartridges and floppies.
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">

                                        Inspite of all this data is lost due to negligence, wrong command, viruses etc. thus none of the above is 100% safe. Data recovery is ususally quite costly and finding a right person/company who would give accurate data in minimum time is a myth.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Service Item -->

                        <!-- Service Item -->
                        <div class="tab-pane fade" id="service-development">

                            <div class="section-text">
                                <div class="row">
                                    <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <p>
                                                Our aim at CBM is to provide first-class customer service via our dedicated and fully trained customer operations team.
                                            </p>
                                            <footer>
                                                Prashant Garg(Senior Engineer).
                                            </footer>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        Offering a professional and friendly service, our fully trained staff ensures we offer the highest level of service at all times in order to meet our customer’s varied needs.
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                         Our newly formed Customer Operations team is a one-stop shop so whether you’re looking to place an order, make a return, change delivery details or resolve an issue; you can now do all this via the same agent and through the one department.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Service Item -->

                        <!-- Service Item -->
                        <div class="tab-pane fade" id="service-photography">

                            <div class="section-text">
                                <div class="row">
                                    <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <p>
                                                There are four options available in Printers. The all are mention below.Dot Matrix Printers, Family computing, Inkjet printers, Laser printers, Multifunction printers.
                                            </p>
                                            <footer>
                                                Priyank Shah(Sales Head).
                                            </footer>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        This is a High-Speed Draft mode printer that delivers an astonishing more than 337 characters per second! It out-performs its predecessor with a new bottom-feed paper path that's ideal for handling complex, multi-page forms. 
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                        All-in-one, or multifunction printers (MFP’s) combine a printer with a scanner and/or fax. With an all-in-one printer you can scan documents and either store them in your PC or print them out immediately, so your machine works as a copier. 
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Service Item -->

                    </div>
                    <!-- End Tab panes -->

                </div>
            </section>
            <!-- End Services Section -->


            <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/images/full-width-images/section-bg-2.jpg">
                <div class="container relative">

                    <div class="row">

                        <div class="col-sm-6">

                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <h3 class="banner-heading font-alt">Looking for exclusive services?</h3>
                                    <div class="banner-decription">
                                        Get answers and advice from people you want it from. We offer a full range of repair services provided by an experienced and specialized team.
                                    </div>
                                    <div class="local-scroll">
                                        <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 banner-image wow fadeInUp">
                            <img src="/images/promo-1.png" alt="" />
                        </div>

                    </div>

                </div>
            </section>
            <!-- End Call Action Section -->


            <!-- Features Section -->
            <section class="page-section">
                <div class="container relative">

                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Why Choose Us?
                    </h2>

                    <!-- Features Grid -->
                    <div class="row multi-columns-row alt-features-grid">

                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-flag"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">We’re Creative</h3>
                                <div class="alt-features-descr">
                                    Qualified Workers
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-clock"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">We’re Punctual</h3>
                                <div class="alt-features-descr">
                                    Guaranteed Service
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-hotairballoon"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">We have magic</h3>
                                <div class="alt-features-descr">
                                    Repair on Demand
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-heart"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">We love minimalism</h3>
                                <div class="alt-features-descr">
                                    Easiest Solution
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-linegraph"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">We’re responsible</h3>
                                <div class="alt-features-descr">
                                    Available Anytime
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">We're Friendly</h3>
                                <div class="alt-features-descr">
                                    Read To Serve.
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->

                    </div>
                    <!-- End Features Grid -->

                </div>
            </section>
            <!-- End Features Section -->


            <!--  Testimonials Section -->
            <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="/images/full-width-images/section-bg-3.jpg">

                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --> <h3 class="small-title font-alt">What people say?</h3>
                                <blockquote class="testimonial white">
                                    <p>
                                        Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                                        risus utaliquam dapibus. Thanks!
                                    </p>
                                    <footer class="testimonial-author">
                                        John Doe, doodle inc.
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->

                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                                <blockquote class="testimonial white">
                                    <p>
                                        Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                                        risus utaliquam dapibus. Thanks!
                                    </p>
                                    <footer class="testimonial-author">
                                        John Doe, doodle inc.
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->

                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                                <blockquote class="testimonial white">
                                    <p>
                                        Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                                        risus utaliquam dapibus. Thanks!
                                    </p>
                                    <footer class="testimonial-author">
                                        John Doe, doodle inc.
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item --> 

            </section>
            <!-- End Testimonials Section -->

            <!-- Call Action Section 
            <section class="small-section bg-dark">
                <div class="container relative">

                    <div class="align-center">
                        <h3 class="banner-heading font-alt">Like Our Service?</h3>
                        <div class="local-scroll">
                            <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Hire Us!!</a>
                        </div>
                    </div>

                </div>
            </section>
            <!-- End Call Action Section 

            <!-- Blog Section 
            <section class="page-section" id="news">
                <div class="container relative">

                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Latest News

                        <a href="blog-classic-sidebar-right.html" class="section-more right">All News in our blog
                            <i class="fa fa-angle-right">

                            </i>
                        </a>

                    </h2>

                    <div class="row multi-columns-row">

                        <!-- Post Item 
                        <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                            <div class="post-prev-img">
                                <a href="blog-single-sidebar-right.html">
                                    <img src="/images/blog/post-prev-1.jpg" alt="" />
                                </a>
                            </div>

                            <div class="post-prev-title font-alt">
                                <a href="">New Web Design Trends</a>
                            </div>

                            <div class="post-prev-info font-alt">
                                <a href="">John Doe</a> | 10 December
                            </div>

                            <div class="post-prev-text">
                                Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                                consectetur fermentum nibh volutpat, accumsan purus.
                            </div>

                            <div class="post-prev-more">
                                <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                            </div>

                        </div>
                        <!-- End Post Item 

                        <!-- Post Item 
                        <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">

                            <div class="post-prev-img">
                                <a href="blog-single-sidebar-right.html">
                                    <img src="/images/blog/post-prev-1.jpg" alt="" />
                                </a>
                            </div>

                            <div class="post-prev-title font-alt">
                                <a href="">Minimalistic Design Forever</a>
                            </div>

                            <div class="post-prev-info font-alt">
                                <a href="">John Doe</a> | 9 December
                            </div>

                            <div class="post-prev-text">
                                Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                                consectetur fermentum nibh volutpat, accumsan purus.
                            </div>

                            <div class="post-prev-more">
                                <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                            </div>

                        </div>
                        <!-- End Post Item 

                        <!-- Post Item 
                        <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">

                            <div class="post-prev-img">
                                <a href="blog-single-sidebar-right.html"><img src="/images/blog/post-prev-1.jpg" alt="" /></a>
                            </div>

                            <div class="post-prev-title font-alt">
                                <a href="">Hipster&rsquo;s Style in&nbsp;Web</a>
                            </div>

                            <div class="post-prev-info font-alt">
                                <a href="">John Doe</a> | 7 December
                            </div>

                            <div class="post-prev-text">
                                Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                                consectetur fermentum nibh volutpat, accumsan purus.
                            </div>

                            <div class="post-prev-more">
                                <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                            </div>

                        </div>
                        <!-- End Post Item 

                    </div>

                </div>
            </section>
            <!-- End Blog Section -->

            <!-- Newsletter Section -->
            <section class="small-section bg-gray-lighter">
                <div class="container relative">

                    <form class="form align-center" id="mailchimp">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="newsletter-label font-alt">
                                    Stay informed with our newsletter
                                </div>

                                <div class="mb-20">
                                    <input placeholder="Enter Your Email" id="subscribeTextbox" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required/>
                                    <button type="submit" onclick="subscribe()" class="btn btn-mod btn-medium btn-round mb-xs-10">
                                        Subscribe
                                    </button>
                                </div>

                                <div class="form-tip">
                                    <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                                </div>

                                <div id="subscribe-result"></div>

                            </div>
                        </div>
                    </form>

                </div>
            </section>
            <!-- End Newsletter Section -->


            <!-- Contact Section -->
            <section class="page-section" id="contact">
                <div class="container relative">

                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Contact
                    </h2>

                    <div class="row mb-60 mb-xs-40">

                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">

                                <!-- Phone -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Call Us
                                        </div>
                                        <div class="ci-text">
                                            +91 97 6911 3411
                                        </div>
                                    </div>
                                </div>
                                <!-- End Phone -->

                                <!-- Address -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Address
                                        </div>
                                        <div class="ci-text">
                                            85/844, Shri Siddhivinayak CHSL(Part1), Mahavir Nagar, Near Pancholia School, Kandivali (West), Mumbai - 400067
                                        </div>
                                    </div>
                                </div>
                                <!-- End Address -->

                                <!-- Email -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Email
                                        </div>
                                        <div class="ci-text">
                                            <a href="mailto:support@cbmindia.com">support@cbmindia.com</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Email -->

                            </div>
                        </div>

                    </div>

                    <!-- Contact Form -->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <!-- <form class="form contact-form" id="contact_form"> -->
                                <div class="clearfix">

                                    <div class="cf-left-col">

                                        <!-- Name -->
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required>
                                        </div>

                                        <!-- Email -->
                                        <div class="form-group">
                                            <input type="email" name="email" id="emailid" class="input-md round form-control" placeholder="Email" pattern=".{5,100}">
                                        </div>
                                    </div>
                                    <div class="cf-right-col">
                                        <!-- Message -->
                                        <div class="form-group">
                                            <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="cf-left-col">
                                        <!-- Inform Tip -->
                                        <div class="form-tip pt-20">
                                            <i class="fa fa-info-circle"></i> All the fields are required
                                        </div>
                                    </div>
                                    <div class="cf-right-col">
                                        <!-- Send Button -->
                                        <div class="align-right pt-10">
                                            <button class="submit_btn btn btn-mod btn-medium btn-round" onclick="enquiry()" id="submit_btn">Submit Message</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="result"></div>
                            <!-- </form> -->
                        </div>
                    </div>
                    <!-- End Contact Form -->

                </div>
            </section>
            <!-- End Contact Section -->


            <!-- Google Map -->
            <div class="google-map">

                <div data-address="85/844, Shri Siddhivinayak CHSL(Part1), Mahavir Nagar, Near Pancholia School, Kandivali (West), Mumbai - 400067" id="map-canvas"></div>

                <div class="map-section">

                    <div class="map-toggle">
                        <div class="mt-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="mt-text font-alt">
                            <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                            <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End Google Map -->


            <!-- Foter -->
            <footer class="page-section bg-gray-lighter footer pb-60">
                <div class="container">

                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="#top"><img src="/images/logo-white.png" width="78" height="36" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->

                    <!-- Social Links -->
                    <div class="footer-social-links mb-80 mb-xs-60">
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                        <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <!-- End Social Links -->

                    <!-- Footer Text -->
                    <div class="footer-text">

                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            &copy;Kunj Sanghavi.
                        </div>
                        <!-- End Copyright -->

                        <div class="footer-made">
                           " Made with love for great people "
                        </div>

                    </div>
                    <!-- End Footer Text -->

                 </div>


                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->

            </footer>
            <!-- End Foter -->

        </div>
        <!-- End Page Wrap -->

        <!-- JS -->
        <script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/SmoothScroll.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.countTo.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.appear.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.sticky.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.magnific-popup.min.js"></script>
        <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below
        **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDkd8xUeaoalCOsviSyrCDqIqVka0aF_I&callback=initMap"></script>
        <script type="text/javascript" src="/javascripts/gmap3.min.js"></script>
        <script type="text/javascript" src="/javascripts/wow.min.js"></script>
        <script type="text/javascript" src="/javascripts/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="/javascripts/all.js"></script>
        <script type="text/javascript" src="/javascripts/contact-form.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.ajaxchimp.min.js"></script>
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        <script type="text/javascript">

        function subscribe(){
          $.post( "/newsletter", { email: document.getElementById("subscribeTextbox").value }).done(function( data ) {});
        }

        function enquiry(){
          let nam = document.getElementById("name").value;
          let emailid = document.getElementById("emailid").value;
          let mesage = document.getElementById("message").value;
          $.post( "/enquiry", { name : nam ,email : emailid, message : mesage }).done(function( data ) {});
        }
        </script>
        <script type="text/javascript">
           function preventBack(){window.history.forward();}
            setTimeout("preventBack()", 0);
            window.onunload=function(){null};
            <% if(locals.isWrong && isWrong != null) {
              isWrong = null; %>
              setTimeout(()=>{alert('Wrong Credentials');},1500);
            <%}%>
        </script>

    </body>
</html>
